* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glow {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff0;
  box-shadow: 0 0 1000px 110px var(--color);
}

.bottom-left {
  bottom: 0;
  left: 0;
  /* blue */
  --color: #0188fd;
}

.top-right {
  top: 0;
  right: 0;
  /* pink */
  --color: #792dc3;
}

/* Color Pallete for Dark Mode and Light Mode */
/* root when body has light class */
:root body.light {
  --bg: #f9f9f9;
  --primarytext: #111;
  --secondarytext: #666;
  --accent: #0188fd;
  --accent-hover: #0056b3;
  --border-color: #ccc;
  --input-bg: #f1f1f1;
}

/* root when body has dark class */
:root body.dark {
  --bg: #0d1117;
  --primarytext: #f9f9f9;
  --secondarytext: #ccc;
  --accent: #0188fd;
  --accent-hover: #0056b3;
  --border-color: #fff1;
  --input-bg: #fff1;
}

body {
  background-color: var(--bg);
  color: var(--primarytext);
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  border-bottom: 1px solid var(--border-color);
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a,
.social-icons a:visited,
.social-icons a:active {
  color: var(--primarytext);
  font-size: 1.2rem;
}

.social-icons a:hover {
  color: var(--accent);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 1rem;
}

.logo span {
  font-size: 1.5rem;
  font-weight: 600;
}

.theme span {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: 600;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
  color: var(--primarytext);
}

.main {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

.left {
  padding: 2rem;
  border-right: 1px solid var(--border-color);
}

.left h1 {
  font-size: 2.2rem;
  color: var(--primarytext);
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.left span {
  font-size: 1rem;
  color: var(--secondarytext);
  margin-bottom: 2rem;
}

.features {
  margin-top: 2rem;
}

.features span {
  display: inline-block;
  font-size: 1rem;
  color: var(--primarytext);
  margin-right: 3rem;
  margin-bottom: 0.7rem;
}

.features span i {
  color: var(--accent);
  margin-right: 0.5rem;
}

.poster {
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 10px;
}

.right {
  padding: 2rem;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.right h1 {
  font-size: 2rem;
  color: var(--primarytext);
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.right span {
  font-size: 1rem;
  color: var(--secondarytext);
  margin-bottom: 2rem;
}

form {
  margin-top: 1rem;
  padding: 0 1rem;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  background: var(--input-bg);
  border-radius: 10px;
  outline: none;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, var(--accent), var(--accent-hover));
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Media for less than 768 */
@media (max-width: 768px) {
  header {
    padding: 1rem 5%;
  }

  .main {
    width: 95%;
  }

  .left {
    padding: 1rem;
    border-right: none;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
  }

  .right {
    padding: 1rem;
    margin-top: 2rem;
  }

  .features span {
    margin-right: 1rem;
  }

  .poster {
    width: 100%;
  }
}

/* Media for less than 500 */
@media (max-width: 500px) {
  .left h1 {
    font-size: 1.8rem;
  }

  .right h1 {
    font-size: 1.8rem;
  }

  .features span {
    font-size: 0.9rem;
  }

  .right span {
    font-size: 0.9rem;
  }

  input {
    padding: 0.5rem 0.8rem;
  }

  button {
    padding: 0.5rem 0.8rem;
  }
}

/* Media for less than 400 */
@media (max-width: 400px) {
  .logo span {
    font-size: 1.2rem;
  }
  .logo img {
    width: 30px;
    height: 30px;
    border-radius: 7px;
  }

  .left h1 {
    font-size: 1.6rem;
  }
}
